.contact-info {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--colors-fonts-color_two);
}

.contact-info_text .contact-info_icons {
    width: 100%;
}

/* contact info text*/

.contact-info_text{
    /* border: 1px solid purple; */
    height: 60%;
    
}
.contact-info_text_title-container{
    width: 100%;
    height: 20%;

    position: relative;
}

.contact-info_text_title-container_title {
    color: var(--colors-fonts-color_one);
    background-color: var(--colors-color-one);

    margin: 0;

    font-size: 2.5em;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -40%;


    /* border: 1px solid green; */
}

.contact-info_text_text {

    font-size: 1.2em;
    text-align: center;

    box-sizing: border-box;
    border-radius: 3%;
    border: 4px solid var(--colors-color-seven);
    
    margin: 0;
    padding: 10% 0;
}

/* contact icons style*/
.contact-info_icons {

    height: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

    /* border: 1px solid paleturquoise; */
}


@media (width<1030px) {

}
@media(width<1030px) and (width>431px){}
@media (width<431px) and (width>400px){

    .contact-info_text_title-container_title {
  
        margin: 0;
    
        font-size: 1.8em;
        bottom: -.7em;
    
        /* border: 1px solid green; */
    }
    
    .contact-info_text_text {
    
        font-size: 1.2em;
        text-align: center;
    
        box-sizing: border-box;
        border-radius: 3%;
        border: 4px solid var(--colors-color-seven);
        
        margin: 0;
        padding: 10% 0;
    }

    .contact-info_icons {
        width: 100%;
        height: 40%;
    
        /* border: 1px solid paleturquoise; */
    }

}
@media (width<400px) {
  

    .contact-info_text_title-container_title {
  
        margin: 0;
    
        font-size: 1.6em;
        bottom: -.7em;
    
        /* border: 1px solid green; */
    }
    
    .contact-info_text_text {
    
        width: 100%;
        height: 75%;

        font-size: 1em;
        text-align: center;

        margin: 0;
        padding: 10% 5%;

        border:1px solid pink;
    }

    .contact-info_icons {
        width: 100%;
        height: 40%;

        align-items: flex-start;
    
        /* border: 1px solid paleturquoise; */
    }
}
