<div class="project-modal">

    <div class="projects_modal-close_icon" (click)="closeModal()">
        <img class="navbar-buttons-mobile-icon" [src]="menuIcon" alt="" srcset="">
    </div>

    <h2 class="project-title">{{modalData.title}}</h2>

    <div class="image-slider">
        <div *ngFor="let img of modalData.images; let i = index" class="slide" [class.active]="i === activeIndex">
            <img [src]="img" alt="Captura del proyecto">
        </div>

        <div class="slider-nav">
            <button (click)="previousImg()" class="nav-btn">❮</button>
            <button (click)="nextImg()" class="nav-btn">❯</button>
        </div>

        <div class="slider-dots">
            <span *ngFor="let dot of modalData.images; let i = index" [class.active]="i === activeIndex"
                (click)="setActiveIndex(i)"></span>
        </div>
    </div>
    <h4 class="project-subtitle">Descripcion</h4>
    <p class="project-description">{{ modalData.description }}</p>

    <h4 class="project-subtitle">Utilidad</h4>
    <p class="project-description">{{ modalData.description }}</p>

    <h4 class="project-subtitle">Tecnologias</h4>

    <div class="tech-categories" *ngIf="!hasOtherTechs">
        <div class="category">
            <h3>Frontend</h3>
            <div class="tech-items">
                <div *ngFor="let tech of modalData.technologies.frontend" class="tech-item">
                    {{ tech }}
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Backend</h3>
            <div class="tech-items">
                <div *ngFor="let tech of modalData.technologies.backend" class="tech-item">
                    {{ tech }}
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Utilidades</h3>
            <div class="tech-items">
                <div *ngFor="let tech of modalData.technologies.utils" class="tech-item">
                    {{ tech }}
                </div>
            </div>
        </div>
    </div>

    <div class="tech-categories-free" *ngIf="hasOtherTechs">

        <div class="category-free">
            <h3>Desarrollo</h3>
            <div class="tech-items-free">
                <div *ngFor="let tech of modalData.technologies.otherTechs" class="tech-item-free">
                    {{ tech }}
                </div>
            </div>
        </div>

        <div class="category-free">
            <h3>Utilidades</h3>
            <div class="tech-items-free">
                <div *ngFor="let tech of modalData.technologies.utils" class="tech-item-free">
                    {{ tech }}
                </div>
            </div>
        </div>

    </div>

    <div class="project-buttons">
        <a [href]="modalData.github" target="_blank" class="project-btn github-btn">
            <i class="fab fa-github"></i> Ver en GitHub
        </a>
        <a *ngIf="modalData.deployed" [href]="modalData.live" target="_blank" class="project-btn deploy-btn">
            <i class="fas fa-external-link-alt"></i> Ver Proyecto Desplegado
        </a>
    </div>
</div>