.fourth-page{
    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* display: grid;
    grid-template-columns: repeat(10, 7.5em);
    grid-template-rows: repeat(9, 5.1em); */
    
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;

    position: relative;

    grid-template-areas:

        "nav nav nav nav"
        "a mid mid b"
        "a mid mid b"
        "footer footer footer footer ";

    ;

}

/*background style*/
.background-style_light{
    /* background-color: var(--colors-color-two); */

    background: radial-gradient(circle, var(--colors-background-color_four) 0%, var(--colors-color-one) 70%);

    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    filter: blur(200px);

    z-index: 1;
    overflow: hidden;

    border-radius: 50%;
}

/* navbar */
.fourth-page_navbar{
    /* grid-column: 1/12;
    grid-row: 1; */

    grid-area: nav;

    /* border: 1px solid pink; */
}

/* middle*/
.fourth-page_middle{
    /* grid-column: 2/11;
    grid-row: 2/8; */

    grid-area: mid;

    z-index: 100;
    /* border: 1px solid red; */
}


.fourth-page_middle{
    display: flex;
    justify-content: space-evenly;
    gap: 4em;
    align-items: center;
}

/* sizes middle subsections*/
.fourth-page_middle_contact-info,
.fourth-page_middle_form{

    width: 45%;
    height: 100%;

}


/* contact form styles*/
.fourth-page_middle_form{
    position: relative;
    /* border: 1px solid aquamarine; */
}

.fourth-page_middle_form_responsive_button-container{
    display: none;
}

/* footer */
.fourth-page_footer{
    /* grid-column: 1/12;
    grid-row: 8/9; */
    /* border: 1px solid white; */
    grid-area: footer;
}

/* Responsive */

@media (width<1030px) {
    .fourth-page_middle{
       
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .fourth-page_middle_form{
        display: none;
    }

    .fourth-page_middle_contact-info{
        width: 80%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .fourth-page_middle_form_responsive-container{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        z-index: 150;
        background-color: rgba(0, 0, 0, .89);
    }
    .fourth-page_middle_form_responsive-container_close-btn{
        position: absolute;
        right: 10em;
        top:2em;

        width: 4em;
        height: 4em;

        background-color: transparent;
        border: none;
        color: white;
    }

    .fourth-page_middle_form_responsive_button-container{
        width: 80%;
        height: 10%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fourth-page_middle_form_responsive_button-container>button{
        width: 60%;
        height: 60%;

        box-sizing: border-box;
        border-radius: 3%;
        border: 4px solid var(--colors-color-seven);
        background-color: transparent;

        color: var(--colors-fonts-color_one);
        font-size: 1.2em;

        cursor: pointer;
    }

    
}

@media(width<1030px) and (width>431px){

    .fourth-page_middle_contact-info{
        height: 70%;
    }

    .fourth-page_middle_form_responsive_button-container>button{
        width: 80%;
        height: 95%;
        font-size: 1.6em;
    }

}


@media (width<431px) and (width>400px){

    .fourth-page_middle{
        gap:2em;
    }

    .fourth-page_middle_contact-info{
        height: 75%;
    }

    .fourth-page_middle_form_responsive_button-container>button{
        width: 80%;
        height: 95%;
        font-size: 1em;
    }



    .fourth-page_middle_form_responsive-container_close-btn{
        position: absolute;
        right: 5em;
        top:2em;

        width: 2em;
        height: 2em;
    }
}

@media (width<400px) {
    .fourth-page_middle{
        gap:0;
    }

    .fourth-page_middle_contact-info{
        height: 65%;
    }

    .fourth-page_middle_form_responsive_button-container{
        width: 100%;
        height: 15%;
        font-size: .8em;
    }

    .fourth-page_middle_form_responsive-container_close-btn{
        right: 2.5em;
        top:0;

        width: 5em;
        height: 5em;

    }
}
