<section class="fourth-page">
    
    <app-navbar [animationsActive]="false" class="fourth-page_navbar animate__animated animate__fadeInDown animate__delay-2s"></app-navbar>

    <div class="background-style_light animate__animated animate__fadeIn animate__slower animate__delay-3s"></div>

    <div class="fourth-page_middle">

        <div class="fourth-page_middle_contact-info">
            <app-contact-info [contactData]="contactData"></app-contact-info>
        </div>

        <div class="fourth-page_middle_form animate__animated animate__fadeInRight" >
            <app-contact-form></app-contact-form>
        </div>

        <div *ngIf="formVisible" (click)="fnCloseMenu($event)"
         class="fourth-page_middle_form_responsive-container" >
            <button class="fourth-page_middle_form_responsive-container_close-btn" (click)="fnCloseMenu($event)">X</button>
            <app-contact-form (click)="$event.stopPropagation()"></app-contact-form>
        </div> 

        <div class="fourth-page_middle_form_responsive_button-container
        animate__animated animate__backInUp animate__delay-2s" >
            <button (click)="fnOpenMenu()">FORMULARIO DE CONTACTO</button>
        </div>

    </div>

    <app-footer [isLastPage]="true" [animationsActive]="false" class="fourth-page_footer animate__animated animate__fadeInUp animate__delay-2s" [nextPage]="''"></app-footer>

</section>