<section class="second-page">
    <app-navbar [animationsActive]="false" class="second-page_navbar
    animate__animated animate__fadeInDown animate__delay-2s"></app-navbar>

    <div class="background-style_light animate__animated animate__fadeIn animate__slower animate__delay-3s"></div>

    <div class="second-page_middle_three-card">
        @for (project of threeProjects; track $index) {
        @if ($index == 0) {
        <div class="second-page_middle_card-container animate__animated animate__fadeInUp animate__slow" (click)="prevProject()">
            <project-card [projectData]="project"></project-card>
        </div>
        }@else if ($index == 2){
        <div class="second-page_middle_card-container animate__animated animate__fadeInUp animate__slow" (click)="nextProject()">
            <project-card [projectData]="project"></project-card>
        </div>
        }@else {
        <div class="second-page_middle_card-container animate__animated animate__fadeInDown animate__slow">
            <project-card [projectData]="project" [isCenterProject]="true"></project-card>
        </div>
        }
        }
    </div>

    <div class="second-page_middle_one-card animate__animated animate__fadeInDown animate__slow">

        <div class="second-page_middle_one-card_cards-container">

            @for (project of projectsList; track $index) {

            <div class="second-page_middle_one-card_card-container">
                <project-card [projectData]="project"></project-card>
            </div>
            }
        </div>

    </div>

    <app-footer [nextSection]="nextSection" [animationsActive]="false" class="second-page_footer animate__animated animate__fadeInUp animate__delay-2s" [nextPage]="nextPage"></app-footer>
   
</section>