.second-page{

    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(10, 7.5em);
    grid-template-rows: repeat(9, 5.1em);


}

/* Navbar */
.second-page_navbar{
    grid-column: 1/12;
    grid-row: 1;

    /* border: 1px solid pink; */

}

/* middle */
.second-page_middle{
    grid-column: 2/11;
    grid-row: 2/8;
    /* border: 1px solid cyan; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-page_middle_card-container{ 
    width: 30%;
    height: 100%;
}

.second-page_middle_card-container:first-child,
.second-page_middle_card-container:last-child
{
    height: 90%;
    
}

.ttbtn{
    background-color: var(--colors-color-two);
}

/* footer */
.second-page_footer{
    grid-column: 1/12;
    grid-row: 8/9;

    /* border: 1px solid white; */
}