.project-card{
    width: 80%;
    height: 100%;

    background-color: #fff;
    border: 1px solid salmon;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}