.navbar {

    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:

        "icon icon space buttons buttons"

    ;

    overflow: hidden;
    
}

.navbar>div {

    height: 100%;

}

/* icon navbar*/
.navbar-icon {
    width: 100%;
    height: 10%;

    grid-area: icon;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.navbar-icon_icon-container{
    width: 22%;
    height: 50%;
}
.navbar-icon_icon-container:hover{
    animation-name: shakeX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.navbar-icon_icon-container>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}


/*buttons navbar*/
.navbar-buttons {
    width: 100%;
    font-size: 1em;

    grid-area: buttons;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;

    color: var(--colors-fonts-color_two);

}

.navbar-buttons-proyect:hover,
.navbar-buttons-contact:hover{
    color: var(--colors-fonts-color_one);
}

.navbar-buttons-mobile{
    display: none;
}

/* responsive */
@media (width<1030px) {
    .navbar{
        grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
        grid-template-areas:
    
            "icon icon space buttons buttons"
    
        ;
    }

    .navbar-icon{
        align-items: center;
        justify-content: flex-start;
    }

    .navbar-icon_icon-container{
        width: 30%;
        height: 50%;
    }

}

@media (width < 900px) and (width>430px) {
    .navbar {

        grid-template-columns: 1fr 1fr 1fr 2fr;

        grid-template-areas:
            "icon icon buttons buttons"
        ;
    }

    .navbar-icon{
        align-items: center;
        justify-content: flex-start;
    }

    .navbar-icon_icon-container{
        width: 50%;
        height: 50%;
    }

    .navbar-buttons {
        font-size: 1.2em;
    }
}

@media(width<769px) {

    .navbar-buttons{
        visibility: hidden;
        animation: none;
    }
    
    .navbar-buttons>div{
        display: none;
    }

    .navbar{
        grid-template-columns: 2fr 1fr 1fr 1fr;

        grid-template-areas:
            "icon space space buttons"
        ;
    }

    .navbar-icon{
        align-items: center;
        justify-content: center;
        
    }

    .navbar-icon_icon-container{
        width: 80%;
        height: 50%;
    }

    .navbar-buttons-mobile{
        visibility: visible;

        height: 100%;
        width: 100%;
     
        grid-area: buttons;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer; 
    }

    .navbar-buttons-mobile-icon{
        width: 40%;
        height: 50%;
        object-fit: contain;
    }

}