<section class="navbar">

    <div
        [ngClass]="{'navbar-icon':true, 'animate__animated animate__fadeIn animate__delay-3s animate__slow':animationsActive()}">
        <div class="navbar-icon_icon-container" (click)="fnGoTo('presentation')">
            <img [src]="mainIco" alt="gabriel ojeda developer" srcset="">
        </div>
    </div>

    <div
        [ngClass]="{'navbar-buttons':true, 'animate__animated animate__slideInRight animate__delay-2s':animationsActive()}">
        
        <div class="navbar-buttons-proyect" (click)="fnGoTo('projects')">
            <h1>PROYECTOS</h1>
        </div>
        <div class="navbar-buttons-contact" (click)="fnGoTo('tecnologies')">
            <h1>TECNOLOGIAS</h1>
        </div>
        <div class="navbar-buttons-contact" (click)="fnGoTo('contact')">
            <h1>CONTACTO</h1>
        </div>

    </div>

    <div [ngClass]="{'navbar-buttons-mobile':true,'animate__animated animate__slideInRight  animate__delay-2s':animationsActive()}"
        (click)="fnOpenMenu()">

        <img class="navbar-buttons-mobile-icon" [src]="menuIcon" alt="" srcset="">

    </div>

</section>