.main-page{
   
    height: 100vh;
    scroll-snap-type: y mandatory;
    flex-direction: column;

    scrollbar-width: none;
   
}

.main-page > div{
 
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.main-page-first_page,
.main-page-second_page,
.main-page-third_page,
.main-page-fourth-page{
    background-color: var(--colors-color-one);
}