<!-- <section [ngClass]="{'main-page':true,'modal-open':isProjectModalOpen}"> -->
<section class="main-page">
    <app-navbar [animationsActive]="false" class="app-navbar 
    animate__animated animate__fadeInDown animate__delay-2s"></app-navbar>
    <!-- <div class="main-page-first_page" #presentation>
        <app-first-page *ngIf="ArIsVisible[0]"></app-first-page>
    </div>
    <div class="main-page-second_page" #projects>
        <app-second-page *ngIf="ArIsVisible[1]" ></app-second-page>
    </div>
    <div class="main-page-third_page" #tecnologies>
        <app-third-page *ngIf="ArIsVisible[2]"></app-third-page>
    </div>
    <div class="main-page-fourth-page" #contact>
        <app-fourth-page *ngIf="ArIsVisible[3]"></app-fourth-page>
    </div>  -->
    <div class="app-middle">
        <router-outlet></router-outlet>
    </div>

    <app-footer [animationsActive]="false" class="app-footer 
    animate__animated animate__fadeInUp animate__delay-2s" [nextPage]="'n'"></app-footer>

</section>

<section class="navbar-menu-mobile" *ngIf="isMenuOpen">

    <div class="navbar-menu-mobile-icon_container" (click)="fnExitMenu()">
        <img class="navbar-buttons-mobile-icon" [src]="icoArrowUp" alt="">
    </div>
    <div class="navbar-menu-mobile_titles-container">

        <h1 class="animate__animated animate__pulse" (click)="goToSec('second')">PROYECTOS</h1>
        <h1 class="animate__animated animate__pulse" (click)="goToSec('third')">TECNOLOGIAS</h1>
        <h1 class="animate__animated animate__pulse" (click)="goToSec('fourty')">CONTACTO</h1>

    </div>
    <div class="navbar-menu-mobile-icon_container">

    </div>
</section>

<section
[ngClass]="{'projects-modal':true,'visible':isProjectModalOpen}"
>
    <app-projects-modal class="project-modal-modal"></app-projects-modal>
</section>