<section class="main-page">

    <div class="main-page-first_page">
        <app-first-page *ngIf="ArIsVisible[0]"></app-first-page>
    </div>
    <div class="main-page-second_page">
        <app-second-page *ngIf="ArIsVisible[1]"></app-second-page>
    </div>
    <div class="main-page-third_page">
        <app-third-page *ngIf="ArIsVisible[2]"></app-third-page>
    </div>
    <div class="main-page-fourth-page">
        <app-fourth-page *ngIf="ArIsVisible[3]"></app-fourth-page>
    </div> 
</section>

<section class="navbar-menu-mobile" *ngIf="isMenuOpen">

    <div class="navbar-menu-mobile-icon_container" (click)="fnExitMenu()">
        <img class="navbar-buttons-mobile-icon" [src]="icoArrowUp" alt="">
    </div>
    <div class="navbar-menu-mobile_titles-container">

        <h1>PROYECTOS</h1>
        <h1>CONOCIMIENTOS</h1>
        <h1>CONTACTO</h1>

    </div>
    <div class="navbar-menu-mobile-icon_container">

    </div>
</section>
<!-- <router-outlet></router-outlet> -->