.project-card{
    width: 100%;
    height: 100%;

    background-color: var(--colors-color-two);
    /* border: 1px solid salmon; */
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;


}

.project-card_imgContainer_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;

    z-index: 2;
}

h2{
    width: 100%;
    height: 10%;
    text-align: center;

    color: var(--colors-fonts-color_one);

    z-index: 100;
}

.project-card_tecnologiesContainer{

    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    z-index: 100;

}

.project-card_tecnologiesContainer_iconContainer{
    width: 2.5em;
    height: 2.5em;
}

.project-card_tecnologiesContainer_iconContainer>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

.project-card_tecnologiesContainer_iconContainer>img:hover{
    filter: none;
}

p{
    height: 20%; 
    width: 90%;
    text-align: center;
    z-index: 100;

    color: var(--colors-fonts-color_three);
}

.project-card_imgContainer{
    width: 100%;
    height: 60%;
}

/* responsive */

@media (width<1030px){

    h2{
        font-size: 2em;
    }

    p{
        font-size: 1.5em;
    }

    .project-card_tecnologiesContainer{

        width: 80%;
        height: 20%;

        gap: .6em;
    
    }


}
@media(width<1030px) and (width>431px){}
@media (width<431px) and (width>400px){
    
    h2{
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    .project-card_tecnologiesContainer{
        gap: .4em;
    }
    
    .project-card_tecnologiesContainer_iconContainer{
        width: 4em;
        height: 4em;
    }

}
@media (width<400px) {


    h2{
        font-size: 1.5em;
    }

    p{
        width: 70%;
        font-size: 1em;
    }

    .project-card_tecnologiesContainer{
        gap: .4em;
    }
    
    .project-card_tecnologiesContainer_iconContainer{
        width: 3em;
        height: 3em;
    }

}