<section class="project-card">

    <div class="project-card_imgContainer">
        <img class="project-card_imgContainer_img" [src]="projectData().image" alt="">
    </div>
    <h2>{{projectData().title}}</h2>

    <div class="project-card_tecnologiesContainer">
        @for (icon of iconsUrls; track $index) {
        <div class="project-card_tecnologiesContainer_iconContainer">
            <img [src]="icon" alt="" appImgBrokenDir>
        </div>
        }
    </div>

    <p>
        {{projectData().description}}
    </p>

    <div class="project-card_btn-mas-info" *ngIf="isCenterProject()">
        <button (click)="openModal()">Detalles</button>
    </div>
</section>