.first-page {

    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 3fr 3fr 1fr;

    position: relative;

    grid-template-areas:

        "nav nav nav nav"
        "mid mid mid mid"
        "mid mid mid mid"
        "footer footer footer footer ";

    ;

    overflow: hidden;

}

/*background style*/
.background-style_light {
    /* background-color: var(--colors-background-color_one);
     */

    background: radial-gradient(circle, var(--colors-background-color_one) 0%, var(--colors-color-one) 70%);

    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    filter: blur(200px);

    z-index: 1;

    border-radius: 50%;
}

/*navbar*/
.first-page_navbar {
    /*
    grid-column: 1/12;
    grid-row: 1; */

    grid-area: nav;

    /* border: 1px solid red; */
}

/*center box*/
.first-page_center {

    /* grid-column: 3/10; */
    /* grid-row: 3/7; */

    grid-area: mid;

    /* border: 1px solid #0ff; */

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    color: var(--colors-fonts-color_one);
}

.first-page_center-name {

    height: 50%;
    /* width: calc(100%-2em); */
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */

}

.first-page_center-name>h1,
h5 {

    margin: 0;
}

.first-page_center-name_presentation {
    align-self: flex-start;
    font-size: .9em;
    margin-bottom: -2em;

}

.first-page_center-name_title {
    font-size: 9em;

}

.first-page_center-name_subtitle {
    align-self: flex-end;
    font-size: .9em;
    margin-top: -2em;
}
/* se que no se usan los important, pero era la unica forma en la que andaba */
.first-page_center-name:hover .first-page_center-name_title{
    transform: scale(1.4);
}

/*footer*/
.first-page_footer {
    /* grid-column: 1/12; */
    /* grid-row: 8/9; */

    grid-area: footer;
    /* border: 1px solid red; */
}

/*Responsive*/

/**/

@media (width < 900px) and (width>431px){
    .first-page {

        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 1fr 3fr 3fr 1fr;

        grid-template-areas:

            "nav nav nav"
            "mid mid mid"
            "mid mid mid"
            "footer footer footer";

        ;
        grid-template-columns: 1fr;
    }


}

@media (width<431px) and (width>389px){


    .first-page_center-name_presentation {
        margin-bottom: -1em;
    }

    .first-page_center-name_title {
        font-size: 5em;
    }

    .first-page_center-name_subtitle {
        margin-top: -1em;
    }
}

@media(width<389px){


    .first-page_center-name_presentation {
        margin-bottom: -1em;
        font-size: .7em;
    }

    .first-page_center-name_title {
        font-size: 4em;
    }

    .first-page_center-name_subtitle {
        margin-top: -1em;
        font-size: .7em;
    }
}

