<section class="first-page">
    <app-navbar class="first-page_navbar"></app-navbar>
    
    <div class="background-style_light animate__animated animate__fadeIn animate__slower animate__delay-4s" ></div>

    <div class="first-page_center">

        <div class="first-page_center-name">
            <h5 class="first-page_center-name_presentation animate__animated animate__fadeInDown animate__fastest">Hola, me llamo</h5>
            <h1 class="first-page_center-name_title animate__animated animate__fadeInRight">GABRIEL</h1>
            <h5 class="first-page_center-name_subtitle animate__animated animate__fadeInUp animate__slower ">y soy desarrollador backend</h5>
        </div>


    </div>
    
    <app-footer class="first-page_footer" [nextPage]="nextPage" [nextSection]="nextSection"></app-footer> 
</section>