.first-page {

    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

/*background style*/
.background-style_light {

    background: radial-gradient(circle, var(--colors-background-color_one) 0%, var(--colors-color-one) 70%);

    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    filter: blur(200px);

    z-index: 1;

    border-radius: 50%;
}


/*center box*/
.first-page_center {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    color: var(--colors-fonts-color_one);
}

.first-page_center-name {

    height: 50%;
    /* width: calc(100%-2em); */
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}

.first-page_center-name>h1,
h5 {

    margin: 0;
}

.first-page_center-name_presentation {
    align-self: flex-start;
    font-size: .9rem;
    margin-bottom: -2em;
}

.first-page_center-name_title {
    font-size: 9rem;
}

.first-page_center-name_subtitle {
    align-self: flex-end;
    font-size: .9rem;
    margin-top: -2rem;
}

/* se que no se usan los important, pero era la unica forma en la que andaba */
.first-page_center-name:hover .first-page_center-name_title {
    transform: scale(1.4);
}

/*footer*/
.first-page_footer {
    /* grid-column: 1/12; */
    /* grid-row: 8/9; */

    grid-area: footer;
    /* border: 1px solid red; */
}

/*Responsive*/

/**/

@media (width>900px) {}

@media (width <=900px) and (width>700px) {}

@media (width<=700px) and (width>400px) {


    .first-page_center-name_presentation {
        margin-bottom: -1rem;
    }

    .first-page_center-name_title {
        font-size: 5rem;
    }

    .first-page_center-name_subtitle {
        margin-top: -1rem;
    }
}

@media(width<=400px) {

    .first-page_center-name_presentation {
        margin-bottom: -.8rem;
        font-size: .8rem;
    }

    .first-page_center-name_title {
        font-size: 4rem;
    }

    .first-page_center-name_subtitle {
        margin-top: -.8rem;
        font-size: .8rem;
    }
}