<section class="first-page">
    <app-navbar class="first-page_navbar"></app-navbar>
    
    <div class="first-page_center">

        <div class="first-page_center-name">
            <h5 class="first-page_center-name_presentation">Hola, me llamo</h5>
            <h1 class="first-page_center-name_title">GABRIEL</h1>
            <h5 class="first-page_center-name_subtitle">y soy desarrollador backend</h5>
        </div>


    </div>
    
    <app-footer class="first-page_footer" [nextPage]="nextPage"></app-footer>
</section>