@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colors-fonts-color_one:#dddddf;
    --colors-fonts-color_two:#939498;

    --colors-color-one:#25262c;
    --colors-color-two:#5d5f60;
    --colors-color-three:#b6a571;
    --colors-color-four:#3d3f43;
    --colors-color-five:#232428;
    --colors-color-six:#8c8b8e;
}

*{
    font-family: "Montserrat",sans-serif;
    
}

body,html{

    padding: 0;
    margin: 0;
    scroll-snap-type: y mandatory;

}
