@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colors-fonts-color_one:#dddddf;
    --colors-fonts-color_two:#939498;
    --colors-fonts-color_three:#ffffff;

    --colors-color-one:#25262c;
    --colors-color-two:#5d5f60;
    --colors-color-three:#b6a571;
    --colors-color-four:#3d3f43;
    --colors-color-five:#232428;
    --colors-color-six:#8c8b8e;
    --colors-color-seven:#7e4471;

    --colors-error-color_one:#f32013;
    --colors-error-color_two:#eed202;

    /* --colors-test-color_one:rgb(219, 27, 177); */
    --colors-test-color_one:var(--colors-color-three);
    --colors-test-color_two:#363636;
}

*{
    font-family: "Montserrat",sans-serif;
    
}

body,html{

    padding: 0;
    margin: 0;
    scroll-snap-type: y mandatory;

}
