.third-page {
    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;

}

/*background style*/
.background-style_light {
    /* background-color: var(--colors-background-color_three); */

    background: radial-gradient(circle, var(--colors-background-color_three) 0%, var(--colors-color-one) 70%);
    /* background: radial-gradient(circle, red 0%, blue 70%); */

    width: 75%;
    height: 75%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    filter: blur(200px);

    z-index: 1;

    border-radius: 50%;
}


/* middle */
.third-page_middle {

    /* border: 1px solid greenyellow; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    z-index: 100;
}

/* middle sections size*/
.third-page_middle_tecnologies,
.third-page_middle_about-me-and-studies {

    width: 45%;
    height: 100%;

}

/* middle tecnologies*/
.third-page_middle_tecnologies {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    /* border: 1px solid red; */
}

.third-page_middle_tecnologies_container {
    width: 100%;
    height: 30%;
}

/* middle about me*/
.third-page_middle_about-me-and-studies {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    /* align-items: center; */

    /* border: 1px solid blue; */
}

.third-page_middle_about-me-and-studies_studies-container,
.third-page_middle_about-me-and-studies_about-me-container {
    width: 100%;
    height: 30%;
    /* border: 1px solid pink; */
}

.third-page_middle_about-me-and-studies_studies-container {
    height: 50%;
}

/* Footer */
.third-page_footer {

    /* grid-area: footer; */
    /* border: 1px solid orange; */
}

/* responsive */
@media (width<1030px) {

    .third-page_middle {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }

    /*tecnologies and about me*/
    .third-page_middle_tecnologies,
    .third-page_middle_about-me-and-studies {
        height: 100%;
    }

    .third-page_middle_tecnologies {
        width: 100%;

    }

    .third-page_middle_about-me-and-studies {
        width: 80%;
        /* justify-content: center; */
    }

}

@media (width<=1399px) and (width>1200px) {}

@media(width<=1030px) and (width>=768px) {

    .third-page_middle_about-me-and-studies {
        justify-content: center;
        align-items: center;
        gap:1rem;
        width: 80%;
        height: 70%;
    }

    .third-page_middle_tecnologies {
        width: 80%;
        height: 90%;

    }
}

@media (width<768px) and (width>576px) {

    .third-page_middle {
        /* overflow: hidden; */
        gap: 1rem;
    }

    .third-page_middle_tecnologies,
    .third-page_middle_about-me-and-studies {
        height: 100%;
        /* overflow: hidden; */
    }

    .third-page_middle_tecnologies {
        width: 100%;
        height: 50%;

        flex-direction: row;
        gap: .5rem;
    }

    .third-page_middle_tecnologies_container {
        width: 30%;
        height: 80%;
    }

    .third-page_middle_about-me-and-studies {
        width: 90%;
        height: 100%;
        gap: 1rem;

    }

}

@media (width<576px) {
    .third-page {
        height: 100dvh;
    }
}

@media (width<576px) and (width>=350px) {

    .third-page_middle_tecnologies {
        width: 90%;
        height: 100%;
        gap: .5rem;
    }


    .third-page_middle_about-me-and-studies {
        width: 90%;
        height: 100%;
        gap: 1rem;

    }

}
