<section class="third-page">
    <app-navbar class="third-page_navbar"></app-navbar>

    <div class="third-page_middle">

        <div class="third-page_middle_tecnologies">
            @for (tecno of tecnosDTO; track $index) {
            <div class="third-page_middle_tecnologies_container">
                <app-tecnologies-comp [tecnDto]="tecno"></app-tecnologies-comp>

            </div>
            }

        </div>

        <div class="third-page_middle_about-me-and-studies"></div>

    </div>

    <app-footer class="third-page_footer" [nextPage]="nextPage"></app-footer>
</section>