<section class="footer">

    <div [ngClass]="{'footer-social':true, 'lastPage':isLastPage()}">

        <a [href]="getLinks().linkedin" target="_blank"
            class="footer-social_icon animate__animated animate__bounceInLeft animate__delay-2s animate__slow">
            <img src="/assets/svg/linkedin.svg" alt="linkedin.ico">
        </a>
        <a [href]="getLinks().github" target="_blank"
           class="footer-social_icon animate__animated animate__bounceInDown animate__delay-2s animate__slow">
            <img src="/assets/svg/github.svg" alt="github.ico">
        </a>
        <a [href]="getLinks().docker" target="_blank"
            class="footer-social_icon animate__animated animate__bounceInRight animate__delay-2s animate__slow">
            <img src="/assets/svg/docker.svg" alt="docker.ico">
        </a>
    </div>

    <div *ngIf="!isLastPage()" class="footer-middle">
        
    </div>

    <div *ngIf="!isLastPage()"
        [ngClass]="{'footer-scrool_sign':true, 'animate__animated animate__bounceInDown animate__delay-3s animate__slow':animationsActive()}"
        (click)="goToSec()"
        >
        <h4 class="footer-scroll_sign-text">
            {{nextPage()}}
        </h4>
    </div>

</section>