<section class="footer">

    <div [ngClass]="{'footer-social':true, 'lastPage':isLastPage()}">
        <div
            [ngClass]="{'footer-social_icon':true,  'animate__animated animate__bounceInLeft animate__delay-3s':animationsActive()}">
            <img src="/assets/svg/linkedin.svg" alt="linkedin.ico">
        </div>
        <div
            [ngClass]="{'footer-social_icon':true,  'animate__animated animate__bounceInDown animate__delay-3s':animationsActive()}">
            <img src="/assets/svg/github.svg" alt="github.ico">
        </div>
        <div
            [ngClass]="{'footer-social_icon':true, 'animate__animated animate__bounceInRight animate__delay-3s':animationsActive()}">
            <img src="/assets/svg/docker.svg" alt="docker.ico">
        </div>
    </div>

    <div *ngIf="!isLastPage()" class="footer-middle">
        
    </div>

    <div *ngIf="!isLastPage()"
        [ngClass]="{'footer-scrool_sign':true, 'animate__animated animate__bounceInDown animate__delay-3s animate__slow':animationsActive()}"
        (click)="goToSec()"
        >
        <h4 class="footer-scroll_sign-text">
            {{nextPage()}}
        </h4>
    </div>

</section>