.footer{
    background-color: var(--colors-color-one);

    width: 100%;
    height: 100%;


    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 4fr; */

    grid-template-areas: 

    "social  mid mid mid next"
    
    ;

}

.footer-social{
    width: 100%;
    height: 100%;
    
    grid-area: social;
    /* border: 1px solid pink; */
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-social_icon{
    height: 35px;
    width: 35px;
}

.footer-social_icon > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* middle */
.footer-middle{

    /* border: 1px solid red; */

    grid-area: mid;

    width: 100%;
    height: 100%;

    /* border: 1px solid white; */
}

/* scroll sign */
.footer-scrool_sign{
    width: 100%;
    height: 100%;

    grid-area: next;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid blue; */
}

.footer-scroll_sign-text{
    display: inline-block;
    color: var(--colors-fonts-color_two);
    
    text-align: center;
    /* border: 1px solid paleturquoise; */

}

