<section class="footer">

    <div class="footer-social">
        <div class="footer-social_icon">
            <img src="/assets/svg/linkedin.svg" alt="linkedin.ico">
        </div>
        <div class="footer-social_icon">
            <img src="/assets/svg/github.svg" alt="github.ico">
        </div>
        <div class="footer-social_icon">
            <img src="/assets/svg/docker.svg" alt="docker.ico">
        </div>
    </div>

    <div class="footer-middle">
        
    </div>

    <div class="footer-scrool_sign">
        <h4 class="footer-scroll_sign-text">
            MIS PROYECTOS
        </h4>
    </div>

</section>